<!-- <h3>Edit a Contact</h3>


<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="first_name">First Name</label>
  <input id="first_name" type="text" name="first_name" value="<%= @contact.first_name %>"><br/>
  
  <label for="last_name">Last Name</label>
  <input id="last_name" type="text" name="last_name" value="<%= @contact.last_name %>"><br/>
  
  <label for="email">Email</label>
  <input id="email" type="text" name="email" value="<%= @contact.email %>"><br/>
  
  <label for="note">Why I'm the biggest fan</label>
  <textarea id="notes" type="text" name="note"/></textarea><br/>
  
  <input type="submit" name="Submit" value="Edit">

</form>  -->
  



  

    