
<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sinatra</title>
  </head> -->
  <!-- <body> -->
  <h1>Welcome to <%= @crm_name %>!</h1>
  <h3>Enter the Stadium</h3>
  <ul>
    <li>
      <a href="/contact">View your fellow fans</a>
    </li>
    <li>
      <a href="/contacts/new">Add a fan</a>
    </li>
    <!-- <li>
      <a href="">Add a contact</a>
    </li>
    <li>
      <a href="/contacts/new">Add a contact</a>
    </li><li>
    <a href="/contacts/new">Add a contact</a>
  </li><li>
  <a href="/contacts/new">Add a contact</a>
</li> -->
<!-- please complete me with links to other actions -->
</ul>
  <!-- </body> -->
  <!--  -->