
 <h1>Welcome to <%= @crm_name %></h1>

  <a href="http://www.nflshop.com">Buy some swag | </a>  
    
  <a href="http://www.steelers.com">Check out the Steelers| </a>  
    
  <a href="http://www.nfl.com">Check out what's happening around the league | </a>    
    
  <a href="http://www.espn.com">Check out what's happening in sport | </a>   
  
  <h3>Enter the Stadium</h3>

  <ul class = "menu">
    <li>
      <a href="/contact">View your fellow fans</a>
    </li>
    <li>
      <a href="/contacts/new">Add a fan</a>
    </li>
    
  </ul>
  