
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @title %></title>
	<script src="ibutton.js"></script>
	<meta title="og:title" content="Bitmaker Labs // HTML CSS intro">

	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

	<%= yield %>

	<!-- <div id="container">
    <div id="one"></div>
    <div id="two"></div>
    <div id="three"></div> -->


	<img src="http://media.moddb.com/cache/images/groups/1/7/6122/thumb_620x2000/wallpaper13_1920x1200.jpg">

	<footer>
		<p>Bitmaker Labs &copy;2015</p>
	</footer>
</body>
</html>