
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @title %></title>
	<!--<script src="ibutton.js"></script>-->
	<meta title="og:title" content="Bitmaker Labs // HTML CSS intro">

	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

	<%= yield %>
	
<!-- http://images.sodahead.com/polls/000143127/polls_steelers_2253_178923_answer_1_small.jpeg -->
	<footer>
		<p>Bitmaker Labs &copy;2015</p>
	</footer>
</body>
</html>